
#root {
  background-color: rgb(18, 18, 19);
  display: flex;
}

body {
  background-color: rgb(18, 18, 19);
  display: flex;
  justify-content: center;
  color: white;
}

.main-view{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.guessRow0 {
  background-color: rgb(18, 18, 19) !important;
  display: flex;
  justify-content: center
}

.keyboard {
  display: flex;
  justify-content: center
}