.gameNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

p {
  margin: 0;
}

.gameNav button {
  background-color: black;
  border: none;
}

button:hover {
  cursor: pointer;
}

.game-info {
  background-color: grey;
}

.nav-icon {
  width: 30px;
  height: auto;
  margin: 5px;
}

.left-icons{
  display: flex;
}

.right-icons {
  display: flex;
}