.gameNav {
  
  display: flex;
  background-color: rgb(18, 18, 19);
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 10;
  border-bottom: 1px solid rgb(58, 58, 60);
}

p {
  margin: 0;
}

.gameNav button {
  background-color: rgb(18, 18, 19);
  border: none;
}

button:hover {
  cursor: pointer;
}

.game-info{
  border-radius: 10px;
  background-color: gray;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  width: 30px;
  height: auto;
  margin: 5px;
  color: white;
}

.left-icons{
  display: flex;
  padding-left: 1em;
}

.right-icons {
  display: flex;
  padding-right: 1em;
}

.middle-containers {
  height: 100vh;
}