

.tile-container {
  background-color: rgb(18, 18, 19);
  max-width: 330px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.tile-container .row {
  background-color: rgb(18, 18, 19) ;
  display: flex;
}

.tile-container .col {
  background-color: rgb(18, 18, 19);


  width: 4.5em;
  height: 4.5em;



  border: 3px solid rgb(58, 58, 60);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  font-size: large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.message {
  display: flex;
  justify-content: center;
}

@keyframes bounce {
  0%   { transform: scale(1,1) translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-55px);}
  50%  { transform: scale(1.05,.95) translateY(0); }
  58%  { transform: scale(1,1) translateY(-7px); }
  65%  { transform: scale(1,1) translateY(0);}
  100% { transform: scale(1,1) translateY(0);}
}
@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.flip {
  animation: 0.5s linear flipping;
  
}
.bounce {
  animation: bounce 1s ease infinite !important;
}
.default {
  background-color: rgb(18, 18, 19) !important;
}
.grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
  /* animation: 0.5s linear flipping; */
}
.key-grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
}

.yellow-overlay {
  background-color: #b59f3a !important;
  border: none !important;
  /* animation: 0.5s linear flipping; */
}
.key-yellow-overlay {
  background-color: #b59f3a !important;
  border: none !important;
}

.green-overlay {
  background-color: #538d4e !important;
  border: none !important;
  /* animation: 0.5s linear flipping; */
}
.key-green-overlay {
  background-color: #538d4e !important;
  border: none !important;
}

.middles {
  /* display: flex;
  justify-content: center;
  align-items: baseline; */
  /* display: flex;

  justify-content :center;

  align-items: stretch;
  flex-direction: row;
  align-content: stretch;
  font-weight: 900 !important;
  font-size: large; */
}
/* 
@media only screen and (max-height: 720px) {
  .tile-container {
    background-color: rgb(18, 18, 19);
    width: 130px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
  }
  .tile-container .col {
    width: 3.5em;
    height: 3.5em;
  }
} */

@media only screen and (max-height: 800px) and (max-width: 1400px) {
  .tile-container .col {
    width: 3em;
    height: 3em;
    margin: 3px;
    border: 2px solid rgb(58, 58, 60);
  }
  
  .tile-container {
    margin-bottom: 5px;
  }
}