

.tile-container {
  width: 330px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile-container .row {
  display: flex;
}

.tile-container .col {
  width: 62px;
  height: 62px;
  border: 2px solid grey;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.message {
  display: flex;
}
