

.tile-container {
  background-color: rgb(18, 18, 19);
  width: 330px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  

  
}

.tile-container .row {
  background-color: rgb(18, 18, 19) ;
  display: flex;
}

.tile-container .col {
  background-color: rgb(18, 18, 19);
  width: 4em;
  height: 4em;
  border: 3px solid rgb(58, 58, 60);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.message {
  display: flex;
  justify-content: center;
}
@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.flip {
  animation: 0.5s linear flipping;
}
.default {
  background-color: rgb(18, 18, 19) !important;
}
.grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
  /* animation: 0.5s linear flipping; */
}
.key-grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
}

.yellow-overlay {
  background-color: #b59f3a !important;
  border: none !important;
  /* animation: 0.5s linear flipping; */
}
.key-yellow-overlay {
  background-color: #b59f3a !important;
  border: none !important;
}

.green-overlay {
  background-color: #538d4e !important;
  border: none !important;
  /* animation: 0.5s linear flipping; */
}
.key-green-overlay {
  background-color: #538d4e !important;
  border: none !important;
}

.middles {
  /* display: flex;
  justify-content: center;
  align-items: baseline; */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  align-content: stretch;
  font-weight: 900 !important;
  font-size: large;
}