.key-container {
  /* width: 510px;
  display: flex;
  flex-wrap: wrap; */
  width: 675px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

 
}

.tile-keyboard {
  /* height: 100%; */
  display: flex;
    flex-direction: column;
    align-items: center;
}
.key-container button {
  width: 59px;
  height: 78px;
  border: none;
  border-radius: 6px;
  background-color: rgb(128, 131, 132);
  color: white;
  margin: 4px;
  font-weight: bolder;
  font-size: large;
}

.key-container button:nth-child(11) {
  
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
  width: 95px;
}

.key-container button:nth-child(28) {
  font-size: x-large;
}

.key-container button:hover {
  background-color: lightgray;
}