.key-container {
  width: 675px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.tile-keyboard {
  height: 100%;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.key-container button {
  width: 59px;
  height: 78px;
  border: none;
  border-radius: 4px;
  background-color: rgb(128, 131, 132);
  color: white;
  margin: 4px;
  font-weight: bolder;
  font-size: large;
}


.key-container button:nth-child(20),
.key-container button:nth-child(28) {
  width: 95px;
}

.key-container button:nth-child(28) {
  font-size: x-large;
}

.key-container button:hover {
  background-color: lightgray;
}

@media only screen and (max-height: 800px) and (max-width: 1500px) {
  .key-container button {
    width: 50px;
    height: 65px;
    border: none;
    border-radius: 4px;
    background-color: rgb(128, 131, 132);
    color: white;
    margin: 3px;
    font-weight: bolder;
    font-size: large;
  }
  .key-container button:nth-child(20),
  .key-container button:nth-child(28) {
    width: 78px;
  }

  .key-container button:nth-child(28) {
    font-size: large;
  }
  .key-container button:nth-child(20) {
    font-size: medium;
  }
  .key-container {
    width: 580px;
    margin: 0;
  }

  .tile-keyboard {
    justify-content: center;
    width: 55vw;
  }

}