

.left-sidebar{
  /* background-color: rgb(18, 18, 19); */
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 22vw;
  padding-top: 55px;
}

.side-title {
  padding: 10px;
  font-size: 1em;
  font-weight: bolder;
  border: 1px solid white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 7px;
  box-shadow: 3px 6px rgba(48, 47, 47, 0.3);
}

.help-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.help {
  display: flex;

  height: 30vh;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}

.rules {
  border: 2px solid white;
  border-radius: 9px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.user-data {
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50px;
  padding: 5px;
}

.avatar {
  width: 20px;
  height: auto;
  margin: 5px;
   
}

.each-avatar {
   border-image: linear-gradient(var(--angle), #ee7752, #e73c7e, #23a6d5, #23d5ab) 1;
  animation: 10s rotate linear infinite;
  /* animation: gradient 15s ease infinite; */
}

.avatar-initials {
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
  width: 250px;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.avatar-list {
  display: flex;
  
  max-width: 250px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choose {
  margin-bottom: 10px;
  /* border-radius: 6px;
  border: 2px solid white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
}

.initial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.initials-box {
  width:35px;
}

.set-initials {
 
}

.left-sidebar .avatar-list button {
  background: rgba(128, 128, 128, 0);
}

.left-sidebar .avatar-list button:hover{
  background-color: white;
}

.following-list {
  border: 2px solid;
  border-radius: 10px;
  /* border-image: linear-gradient(var(--angle), #ee7752, #e73c7e, #23a6d5, #23d5ab) 1; */
  /* animation: 10s rotate linear infinite; */
  /* animation: gradient 15s ease infinite; */
  /* background-size: 400% 400%; */
  /* background-color: gray; */
  padding: 10px;
  height: 200px;
  width: 250px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.friend-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete {
  width: 120px;
}

.add-a-friend{
  /* background-color: rgb(18, 18, 19); */
  display: flex;
  align-items: center;
  /* width: 180px; */
}

.add-input {
  background-color: greenyellow;
  width: 100px;
}

.add-button {
  width: 80px;
  background-color: yellow;
}