.left-sidebar{
  background-color: black;
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
}

.add-a-friend{

  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-input {
  background-color: greenyellow;
}

.add-button {
  width: 180px;
  background-color: yellow;
}