.replay-box {
  width: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.replay-box .row {
  display: flex;
}

.replay-box .col {
  width: 30px;
  height: 30px;
  border: 2px solid grey;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;

  color: white
}