
/* 
.col {
  width: 90px;
  height: 50px;
  border: 2px solid grey;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
} */

.replay-box {
  /* width: 330px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

  width: 144px;
  /* margin-bottom: 14px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.replay-box .row {
  display: flex;
}

.replay-box .col {
  width: 30px;
  height: 30px;
  border: 2px solid grey;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;

  color: white
}