
.blank-sidebar{
  
  width: 22vw;
  height: 100%;
}

.right-sidebar{
  width: 22vw;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px
}

.stat-title {
  padding: 10px;
  font-size: 1em;
  font-weight: bolder;
  border: 1px solid white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 10px;
  box-shadow: 3px 6px rgba(48, 47, 47, 0.3);
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.games-played {
  margin-top: 50px;
  margin-bottom: 50px;
}

.progress-bar {
  width: 150px;
  margin-bottom: 50px;
  border: 1px solid grey;
  border-radius: 4px;
}

.bar-segment {
  display: flex;
  flex-direction: row;
}

.win-percent {
  border: 1px solid black;
  height: 20px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 40%;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  border-radius: 4px;
}

.replay-box {
  width: 100px;
}

.setting-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.game-title {
  padding: 10px;
  font-size: 1em;
  font-weight: bolder;
  border: 1px solid white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 10px;
  box-shadow: 3px 6px rgba(48, 47, 47, 0.3);
  margin-bottom: 100px;
}

.message {
  padding-bottom: 10px;
}


.play-button {
  margin-top: 20px;
  font-weight: 700;
  background-color: #538d4e;
  border: none;
  border-radius: 7px;
  box-shadow: 3px 6px rgba(48, 47, 47, 0.3);
  color: white;
  height: 3em;
  width: 10vw;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.create-button {
  margin-top: 20px;
  font-weight: 700;
  background-color: #538d4e;
  border: none;
  border-radius: 7px;
  box-shadow: 3px 6px rgba(48, 47, 47, 0.3);
  color: white;
  height: 3em;
  width: 10vw;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.games-list {
  font-weight: 700;
  background-color: #538d4e;
  border: none;
  border-radius: 7px;
  box-shadow: 3px 6px rgba(48, 47, 47, 0.3);
  color: white;
  height: 3em;
  width: 10vw;
  /* font-size: larger; */
  font-family: Arial, Helvetica, sans-serif;

}
